/* .about-me-container {
  margin: 0 2rem;
} */

.about-me-container .content {
  /* display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem; */
  display: flex;
  justify-content: center;
  margin: 3rem auto 8rem auto;
  max-width: 1600px;
  height: fit-content;
}

.about-me-container .text {
  background: rgb(50, 50, 50);
  max-width: 75ch;
  border-radius: 8px;
}

.about-me-container .flip-card {
  margin-right: 2rem;
}

.about-me-container .text {
  padding: 1rem 2.5rem;
}

.about-me-container .text h2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 1rem 0;
  text-transform: uppercase;
}

.about-me-container .text h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 2.25rem 0;
}

.about-me-container .text p {
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 1.25rem;
}