.e-books-and-programs {
  max-width: 1600px;
  margin: 0 auto;
}

.main-h2 {
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 0 -16px 0 0 var(--clr-main);
  width: fit-content;
  margin: 8rem 0 8rem 4rem;
}

.e-books-container h2, .programs-container h2 {
  margin: 4rem 0 3rem 4rem;
  font-size: 2rem;
}

.e-books, .programs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0 4rem;
  height: 18rem;
  margin-bottom: 8rem;
}

.book, .program {
  /* background: rgb(73, 73, 73); */
  background: rgb(59,59,59);
  background: linear-gradient(324deg, rgba(65,65,65,1) 20%, rgba(88,88,88,1) 100%);
  box-shadow: 0px 0px 20px 10px rgb(22, 22, 22);
  border-radius: 24px;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.img-bg {
  background: var(--clr-main);
  width: 80%;
  height: 4rem;
  border-radius: 16px;
  margin: 2rem auto 0 auto;
}

.book-header-btns, .program-header-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-header-btns img, .program-header-btns img {
  height: 1.75rem;
}

.book-header-btns i, .program-header-btns i {
  background: rgb(67, 67, 67);
  padding: .8rem;
  border-radius: 50px;
  transition: .35s ease-in-out;
  cursor: pointer;
  font-size: .9rem;
}

.book-header-btns i:hover, .program-header-btns i:hover {
  transform: scale(1.08);
  color: var(--clr-main);
  background: rgb(92, 92, 92);
}

.programs-container .fa-dumbbell, .e-books-container .fa-book {
  margin-left: 1rem;
  color: rgb(167, 167, 167);
}

.add-to-cart-btn {
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  padding: .75rem 1rem;
  background: rgb(92, 92, 92);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}