.e-books-and-programs {
  max-width: 1600px;
  margin: 0 auto;
}

.main-h2 {
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 0 -16px 0 0 var(--clr-main);
  width: fit-content;
  margin: 8rem auto 0 auto;
}

.e-books-container, .programs-container {
  margin-bottom: 20rem ;
}

.e-books-container h2, .programs-container h2 {
  margin: 0 0 3rem 4rem;
  font-size: 2rem;
}

.e-books, .programs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0 4rem;
  height: 18rem;
  margin-bottom: 8rem;
}

.personal-programs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 4rem;
  height: 18rem;
  margin-bottom: 8rem;
  align-content: center;
  margin-top: 10rem;
}

.book, .program {
  /* background: rgb(73, 73, 73); */
  background: rgb(59,59,59);
  background: linear-gradient(324deg, rgba(65,65,65,1) 20%, rgba(88,88,88,1) 100%);
  box-shadow: 0px 0px 20px 10px rgb(22, 22, 22);
  border-radius: 24px;
  height: 100%;
  padding: 1rem;
  text-align: center;
  transition: .35s ease-in-out;
  cursor: pointer;
}

.program h4, .book h4 {
  font-size: 1.1rem;
  margin: .5rem 0 0 0;
}

.program h5, .book h5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1rem 0 1.5rem 0;
}

.personal-program {
  background: rgb(59,59,59);
  background: linear-gradient(324deg, rgba(65,65,65,1) 20%, rgba(88,88,88,1) 100%);
  border-radius: 24px;
  height: 100%;
  padding: 1rem;
  text-align: center;
  transition: .35s ease-in-out;
}

.personal-program-cover-img, .e-book-cover-img, .program-cover-img {
  height: 12rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 0px 6px rgb(51, 51, 51);
  border-radius: 4px;
}

.personal-program-2 {
  transform: scale(1.12);
}

.personal-program-2:hover {
  transform: scale(1.16);
}

.book:hover, .program:hover, .personal-program-1:hover, .personal-program-3:hover {
  transform: scale(1.05);
}

.img-bg {
  background: var(--clr-main);
  width: 80%;
  height: 4rem;
  border-radius: 16px;
  margin: 2rem auto 0 auto;
}

.book-header-btns, .program-header-btns, .personal-program-header-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-header-btns img, .program-header-btns img, .personal-program-header-btns img {
  height: 1.75rem;
}

.book-header-btns i, .program-header-btns i, .personal-program-header-btns i {
  background: rgb(67, 67, 67);
  padding: .8rem;
  border-radius: 50px;
  transition: .35s ease-in-out;
  cursor: pointer;
  font-size: .9rem;
}

.book-header-btns i:hover, .program-header-btns i:hover, .personal-program-header-btns i:hover {
  transform: scale(1.08);
  color: var(--clr-main);
  background: rgb(92, 92, 92);
}

.programs-container .fa-dumbbell, .e-books-container .fa-book, .personal-programs-container .fa-address-book {
  margin-left: 1rem;
}

.add-to-cart-btn {
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  padding: .75rem 1rem;
  background: rgb(92, 92, 92);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  transition: .35s ease-in-out;
}

.add-to-cart-btn:hover {
  transform: scale(1.05);
  background: rgb(106, 106, 106);
  color: var(--clr-main);
}

.add-to-cart-btn .fa-plus {
  margin-left: .75rem;
}

.personal-programs-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 0;
  position: relative;
}

.personal-programs-container .background {
  background: rgb(58, 58, 58);
  border-radius: 50px;
  height: 28rem;
  padding-top: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  max-width: 1200px;
  margin: 15rem auto;
}

.personal-programs {
  width: 100%;
}
