.faq-container .content {
  max-width: 800px;
  margin: 0 auto;
}

.faq-container .main-h2 {
  margin-bottom: 0;
}

.faq-container > h4 {
  text-align: center;
  color: grey;
  margin-bottom: 6rem;
}

.faq-container .Collapsible {
  background: white;
  color: rgb(34, 34, 34);
  padding: 1rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.faq-container .Collapsible__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.25rem;
}

.Collapsible__trigger.is-open svg {
  transform: rotate(180deg);
}

.faq-container .Collapsible__contentInner {
  letter-spacing: 1px;
  line-height: 1.25rem;
}

.faq-container .contact-cta {
  margin: 5rem 1rem 5rem 1rem;
  text-align: center;
}

.faq-container .contact-cta h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.faq-container .contact-cta p {
  margin-bottom: 2.5rem;
}

.faq-container .contact-cta a {
  text-decoration: none;
  color: var(--clr-main);
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 500px) {
  .faq-container .main-h2 {
    margin-top: 8rem;
  }
}