footer {
  background: rgb(44, 44, 44);
}

footer .logo-icon {
  height: 8rem;
}

footer .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 26rem;
  max-width: 1100px;
  margin: 0 auto;
}

footer .column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer .logo {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  color: white;
}

footer .logo b {
  color: rgb(197, 197, 197);
}

footer .column-1 {
  justify-content: space-evenly;
}

footer .column-1 p {
  color: grey;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

footer .column-2 {
  font-size: 1.1rem;
  align-items: center;
}

footer .column-2 a, footer .column-3 a {
  position: relative;
  transition: .35s ease-in-out;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
  padding: .75rem 0;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

footer .column-2 a::after, footer .column-3 > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 4px;
  right: 0;
  background: var(--clr-main);
  transition: width .35s ease;
  -webkit-transition: width .35s ease;
}

footer .column-2 a:hover::after, footer .column-3 > a:hover::after {
  width: 100%;
  left: 0;
  background: var(--clr-main);
}

footer .column-3 .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

footer .column-3 {
  text-align: left;
  align-self: flex-end;
}

footer .column-3 h3 {
  font-size: 1.5rem;
}

footer .column-3 h3 > i {
  font-size: 1.25rem;
  margin-left: .5rem;
}

footer .column-3 i {
  color: white;
  font-size: 1.75rem;
  margin: 0 1.5rem 0 0;
}

footer .payment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 1.5rem; */
  transform: scale(0.9);
}

footer .payment-icons img {
  height: 1.75rem;
  padding: .4rem .5rem;
  margin: 0 .5rem;
  background: white;
  border-radius: 3px;
  border: black 1px solid;
}

footer .payment-icons .gpay-icon {
  padding: 0;
}

footer .payment-icons .amex-icon {
  padding: 0;
  background: none;
  border: none;
  height: 2.5rem;
}

footer .payment-icons .visa-icon {
  padding: 0;
  background: none;
  border: none;
  height: 1.7rem;
}





@media(max-width: 1080px) {
  footer .content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
    height: fit-content;
    padding: 1rem 2rem 4rem 2rem;
  }

  footer .logo-icon {
    margin-top: 2rem;
  }

  footer .column-1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  footer .column-2 {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  footer .column-2 a {
    margin: 0 1.25rem;
  }

  footer .column-3 {
    grid-area: 2 / 2 / 3 / 3;
    /* justify-self: stretch;
    margin: 0 auto; */
  }
}

@media(max-width: 700px) {
  footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .logo-icon {
    margin-bottom: 2rem;
  }
}

@media(max-width: 430px) {
  footer .column-3 > a {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  footer .column-3 .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer .payment-icons {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  footer .social-icons {
    margin-top: 2rem;
  }

  footer .column-3 a > i {
    margin: 0;
    padding: 0 .5rem;
  }
}

