header {
  background: transparent;
  padding: 1rem 4rem 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  max-width: 1600px;
  margin: 0 auto;
}

header .logo {
  height: 2.5rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-right: 2rem;
  position: relative;
}

nav li a {
  color: white;
  text-decoration: none;
  margin: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: .9rem;
  position: relative;
}

.link {
  position: relative;
  transition: .35s ease-in-out;
  white-space: nowrap;
}

.link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--clr-main);
  transition: width .35s ease;
  -webkit-transition: width .35s ease;
}
 
.link:hover:after {
  width: 100%;
  left: 0;
  background: var(--clr-main);
}

.link:hover {
  color: var(--clr-main)
}

.log-in-btn:hover {
  background: var(--clr-main);
  box-shadow: 7px 9px 0px rgb(21, 21, 21);
}

.fa-shopping-cart {
  cursor: pointer;
  transition: .35s ease-in-out;
}

.fa-shopping-cart:hover {
  color: var(--clr-main);
}

.header-divider {
  height: 2rem;
  width: 1px;
  background: rgb(111, 111, 111);
  margin: 0 1rem;
}

.services-dropdown {
  display: none;
  transition: .35s ease-in-out;
}

.services-dropdown:hover {
  background: black;
}


.services-dropdown .Collapsible {
  cursor: pointer;
  position: absolute;
  right: 1.25rem;
  top: .25rem;
  z-index: 100;
}

.services-dropdown .Collapsible .is-closed {
  width: 8.5rem;
}

.services-dropdown .Collapsible__contentInner {
  display: flex;
  flex-direction: column;
  /* padding-top: 1rem; */
  margin-top: 1rem;
  background: rgb(77, 77, 77);
  padding: 1rem .75rem;
  border-radius: 0 8px 8px 8px;
}

.services-dropdown .Collapsible__contentInner a {
  word-break: break-all;
  color: white;
  margin: .5rem 0;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
}

.services-dropdown .Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  max-width: 15ch;
}



@media (max-width: 1450px) {
  .services-dropdown {
    display: inline-block;
  }

  .default-link {
    display: none;
  }
}