.hero {
  margin-top: -4rem;
  background: linear-gradient(324deg, rgba(32,32,32,1) 20%, rgba(57,57,57,1) 100%);
}

.hero .content {
  max-width: 1600px;
  padding: 10rem 4rem 12rem 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-form {
  display: flex;
  flex-direction: column;
}

.hero .text {
  width: 60%;
}

.hero .text h1 {
  font-size: 2.75rem;
  margin: 0
}

.hero .text h4 {
  font-size: .9rem;
  margin: .5rem 0;
  font-weight: 500;
  color: rgb(97, 97, 97);
  text-transform: uppercase;
}

.hero .text p {
  margin: 1rem 0;
  font-weight: 400;
  width: 60%;
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: rgb(228, 228, 228);
}

.hero .buttons {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.hero .buttons a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.hero .buttons .primary {
  padding: .8rem 2rem;
  background: var(--clr-main);
  color: black;
  border-radius: 50px;
  transition: .35s ease-in-out;
  white-space: nowrap;
}

.hero .buttons .secondary {
  padding: .6rem 1.5rem;
  margin-left: 1rem;
  transition: .35s ease-in-out;
  white-space: nowrap;
}

.hero .buttons .primary:hover {
  background: white;
  box-shadow: 7px 9px 0px rgb(21, 21, 21);
}

.hero .buttons .secondary:hover {
  color: var(--clr-main);
  margin-left: 1.5rem;
}

.fa-arrow-right {
  margin-left: .6rem;
  font-size: .9rem;
}

.hide {
  display: none;
}