
.home-about-me-container {
  background: rgb(50, 50, 50);
  transform: skewY(-4deg);
  margin-top: -4rem;
  padding: 8rem 4rem 4rem 4rem;
}

.home-about-me-container .content {
  transform: skewY(4deg);
}

.home-about-me-container .content h2 {
  margin-top: 0;
}

.home-about-me-container .main-h2 {
  margin: 0 auto 6rem auto;
  transform: skewY(4deg);
}

.home-about-me-container .content .text {
  padding: 0 2rem;
}

.home-about-me-container .content .text > h4 {
  margin-top: 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.home-about-me-container .content .text h4 > img {
  height: 1.25rem;
  margin-left: .75rem;
}






.home-oc-link {
  color: black;
  padding: .7rem 1.75rem;
  background: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  border-radius: 50px;
  transition: .35s ease-in-out;
}

.home-oc-link:hover {
  background: var(--clr-main);
}

.fa-globe {
  margin-left: .75rem;
} 






.home-online-coaching-cover-img {
  height: 14rem;
  margin: 2rem auto 1rem auto;
  box-shadow: 0px 0px 0px 6px rgb(51, 51, 51);
  border-radius: 4px;
}

.online-coaching-header-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.online-coaching-header-btns img {
  height: 1.75rem;
  transition: .35s ease-in-out;
}

.online-coaching-header-btns img:hover {
  transform: rotate(360deg);
}

.online-coaching-header-btns i {
  background: rgb(67, 67, 67);
  padding: .8rem;
  border-radius: 50px;
  transition: .35s ease-in-out;
  cursor: pointer;
  font-size: .9rem;
}

.online-coaching-header-btns i:hover {
  transform: scale(1.08);
  color: var(--clr-main);
  background: rgb(92, 92, 92);
}

.get-started-btn {
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  padding: .75rem 1rem;
  background: rgb(92, 92, 92);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  transition: .35s ease-in-out;
}

.get-started-btn:hover {
  transform: scale(1.05);
  background: rgb(106, 106, 106);
  color: var(--clr-main);
}

.get-started-btn .fa-arrow-right {
  margin-left: .75rem;
}

.line-through {
  text-decoration: line-through;
  color: rgb(162, 162, 162);
  margin-left: 1rem;
}

.home-online-coaching {
  transform: skewY(-4deg);
  background: rgb(31, 31, 31);
  /* margin-top: -6rem; */
  padding: 4rem;
}

.home-online-coaching h2 {
  font-size: 2.75rem;
  transform: skewY(4deg);
  text-align: center;
  box-shadow: inset 0 -16px 0 0 var(--clr-main);
  width: fit-content;
  margin: 6rem auto 4rem auto;
}

.home-online-coaching .content {
  transform: skewY(4deg);
  display: flex;
  margin: 4rem auto 7rem auto;
  max-width: 1600px;
  background: rgb(44, 44, 44);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  width: fit-content;
}

.home-online-coaching .card {
  margin-right: 3rem;
  max-width: 20rem;
  background: rgb(58, 58, 58);
  padding: 1.5rem;
  border-radius: 16px;
  max-height: 32.25rem;
}

.home-online-coaching .info-text {
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.25rem;
  position: relative;
}

.home-online-coaching .info-text p {
  margin: 2rem 0 3rem 0;
  max-width: 75ch;
}

.home-online-coaching .info-text h3 {
  font-size: 1.75rem;
}

.home-online-coaching .info-text ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-bottom: 4rem;
}

.home-online-coaching .info-text ul li {
  padding-inline-start: 0rem;
  margin: 0.5rem 0;
}

.home-online-coaching .info-text ul li b {
  margin-right: 1rem;
  color: var(--clr-main);
}

.home-online-coaching .read-more-btn {
  padding: 1rem 3rem;
  background: var(--clr-main);
  color: rgb(31, 31, 31);
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .35s ease-in-out;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  width: fit-content;
  /* position: absolute;
  bottom: 1.5rem; */
}

.home-online-coaching .read-more-btn i {
  margin-left: 1.2rem;
  font-size: 1.1rem;
}

.home-online-coaching .read-more-btn:hover {
  background: white;
  padding-left: 4rem;
}

.home-online-coaching .info-text .minus-top {
  margin-top: 1rem;
}

.home-online-coaching .info-text ul li .line-through {
  margin-left: 0;
}

.home-personal-programs {
  margin-top: -8rem;
}

.home-personal-programs h2 {
  margin-top: 2rem;
}

.alternate-programs {
  margin: 0 auto 5rem auto;
  width: fit-content;
  transform: skewY(4deg);
  text-align: center;
}

.alternate-programs h3 {
  font-size: 2rem;
}

.alternate-programs h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.alternate-programs .read-more-btn-2 {
  color: rgb(44, 44, 44);
  background: white;
  border-radius: 50px;
  padding: .75rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: .35s ease-in-out;
}

.alternate-programs .read-more-btn-2:hover {
  background: var(--clr-main);
}

.program-list {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  transform: skewY(4deg);
}

.program-list b {
  background: var(--clr-main);
  padding: .5rem .8rem;
  border-radius: 20px;
  margin-right: .5rem;
}

.program-list a {
  margin-right: 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.program-list a:hover {
  text-decoration: underline;
}




.home-book-consultation {
  background: rgb(248, 248, 248);
  color: rgb(31, 31, 31);
  transform: skewY(-4deg);
  padding: 1rem 6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.home-book-consultation p {
  font-size: .9rem;
  font-weight: 500;
  color: rgb(58, 58, 58);
}

.home-book-consultation a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}

.home-book-consultation h2 {
  font-size: 3rem;
  margin: 1.25rem 0;
  transition: .2s ease-in-out;
}

.home-book-consultation h2:hover {
  margin: 1.5rem 0;
}

.home-book-consultation i {
  font-size: 2rem;
}




.home-ebooks-and-programs {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 3rem 0;
}

.home-ebooks-and-programs .image {
  position: relative;
}

.home-ebooks-and-programs .fa-eye {
  margin-left: .5rem;
}

.buy-now-link {
  margin-left: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  font-size: .9rem;
  transition: .35s ease-in-out;
}

.buy-now-link:hover {
  color: var(--clr-main);
}

.blob-img {
  height: 15rem;
}

.home-cover-img {
  height: 14rem;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-ebooks-and-programs .content, .home-ebooks-and-programs .content-reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 0;
  max-width: 700px;
  margin: 0 auto;
}

.home-ebooks-and-programs h2 {  
  font-size: 2.75rem;
  text-align: center;
  box-shadow: inset 0 -16px 0 0 var(--clr-main);
  width: fit-content;
  margin: 5rem auto 1rem auto;
}

.home-ebooks-and-programs h3 {  
  font-size: 1.5rem;
  margin: 0;
}

.home-ebooks-and-programs p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.25rem;
  color: rgb(228, 228, 228);
}

.home-ebooks-and-programs span {
  font-size: 1.2rem;
  font-weight: 500;
}

.home-ebooks-and-programs span > i {
  margin-left: .5rem;
  font-size: 1rem;
}

.home-ebooks-and-programs .text .buttons {
  margin-top: 2rem;
}

.home-ebooks-and-programs .content .text {
  padding-right: 6rem;
}

.home-ebooks-and-programs .content-reverse .text {
  padding-left: 6rem;
  text-align: right;
}

.fa-book {
  margin-left: .75rem;
}

.home-see-all-programs-link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-main);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 3rem;
}





.three-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 24rem;
  padding: 3rem;
  max-width: 1300px;
  margin: 0 auto 5rem auto
}

.three-blocks .box {
  height: 100%;
  background: rgb(65, 65, 65);
  background: linear-gradient(324deg, rgba(51,51,51,1) 20%, rgba(65,65,65,1) 100%);
  text-align: center;
  border-radius: 8px;
  padding: 2rem;
  line-height: 1.25rem;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.three-blocks .box h3 {
  font-size: 1.75rem;
  margin: .5rem 0 .75rem 0;
}

.three-blocks .box h3 i {
  margin-left: .75rem;
}

.box-1 {
  grid-column: 1;
}

.box-2 {
  grid-column: 2;
}

.box-3 {
  grid-column: 3;
}