@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&family=Merriweather+Sans:ital,wght@1,700&display=swap');

:root {
  --clr-main: rgb(250, 156, 32);
  --clr-dark-main: rgb(41, 41, 41);
}

* {
  box-sizing: border-box;
}

/* body, html {
  overflow-x: hidden;
} */

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  background: rgb(32,32,32);
  color: white;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}