/* .main-h2 {
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 0 -16px 0 0 var(--clr-main);
  width: fit-content;
  margin: 8rem auto 8rem auto;
} */

.oc-main-h2 {
  margin: 12rem auto 2rem auto;
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 0 -16px 0 0 var(--clr-main);
  width: fit-content;
}

.online-coaching-container h2 {
  font-size: 2rem;
  margin: 0 auto 6rem auto;
}

.online-coaching {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 4rem;
  height: 18rem;
  margin-bottom: 8rem;
  align-content: center;
  margin-top: 10rem;
}

.online-coaching-page-top .content {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.online-coaching-pkg {
  background: rgb(59,59,59);
  background: linear-gradient(324deg, rgba(65,65,65,1) 20%, rgba(88,88,88,1) 100%);
  border-radius: 24px;
  height: 100%;
  padding: 1rem;
  text-align: center;
  transition: .25s ease-in-out;
}

.online-coaching-cover-img {
  height: 12rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 0px 6px rgb(51, 51, 51);
  border-radius: 4px;
}

.online-coaching-pkg-2 {
  transform: scale(1.12);
}

.online-coaching-pkg-2:hover {
  transform: scale(1.16);
}

.online-coaching-pkg-1:hover, .online-coaching-pkg-3:hover {
  transform: scale(1.05);
}

.img-bg {
  background: var(--clr-main);
  width: 80%;
  height: 4rem;
  border-radius: 16px;
  margin: 2rem auto 0 auto;
}

.oc-card-small-link {
  color: white;
}

.online-coaching-header-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.online-coaching-header-btns img {
  height: 1.75rem;
  transition: .35s ease-in-out;
}

.online-coaching-header-btns img:hover {
  transform: rotate(360deg);
}

.online-coaching-header-btns i {
  background: rgb(67, 67, 67);
  padding: .8rem;
  border-radius: 50px;
  transition: .35s ease-in-out;
  cursor: pointer;
  font-size: .9rem;
}

.online-coaching-header-btns i:hover {
  transform: scale(1.08);
  color: var(--clr-main);
  background: rgb(92, 92, 92);
}

.online-coaching-container .fa-address-book {
  margin-left: 1rem;
  color: rgb(167, 167, 167);
}

.add-to-cart-btn {
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  padding: .75rem 1rem;
  background: rgb(92, 92, 92);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  transition: .35s ease-in-out;
}

.add-to-cart-btn:hover {
  transform: scale(1.05);
  background: rgb(106, 106, 106);
  color: var(--clr-main);
}

.add-to-cart-btn .fa-plus {
  margin-left: .75rem;
}

.online-coaching-container {
  margin: 0 auto 50rem auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 3rem 0 0 0;
  position: relative;
  text-align: center;
}

.online-coaching-container .background {
  background: rgb(48, 48, 48);
  border-radius: 50px;
  height: 28rem;
  padding-top: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

.online-coaching {
  width: 100%;
}

.line-through {
  text-decoration: line-through;
  color: rgb(162, 162, 162);
  margin-left: 1rem;
}




.information-section {
  padding: 0 4rem 8rem 4rem;
  background: rgb(39, 39, 39);
  transform: skewY(-4deg);
  margin-bottom: 10rem;
}

.information-section .content {
  max-width: 1600px;
  margin: 0 auto;
}

.information-section .levels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  transform: skewY(4deg);
}

.information-section h2 {
  font-size: 2.25rem;
  box-shadow: inset 0 -10px 0 0 var(--clr-main);
  width: fit-content;
  margin: 0 auto 2rem auto;
  padding-top: 6rem;
  transform: skewY(4deg);
}

.information-section h3 {
  font-size: 1.75rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.information-section h5 {
  font-size: 1rem;
  background: rgb(77, 77, 77);
  border-radius: 8px;
  padding: .75rem 1.5rem;
  /* width: fit-content; */
  margin: 0 auto;
  text-align: center;
}

.information-section p {
  max-width: 75ch;
  letter-spacing: 1px;
  line-height: 1.25rem;
}

.beginner, .intermediate, .advanced {
  margin: 2rem auto;
  /* background: rgb(49, 49, 49); */
  background: linear-gradient(324deg, rgba(46,46,46,1) 20%, rgba(56,56,56,1) 100%);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 6px 6px 12px rgb(36, 36, 36);
  text-align: center;
}

.choose-plan-btn {
  color: var(--clr-main);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3rem auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.75rem;
  transition: .35s ease-in-out;
  width: fit-content;
  border-radius: 50px;
}

.choose-plan-btn:hover {
  color: rgb(39, 39, 39);
  background: white;
  transform: scale(1.06);
}

.information-section .number {
  background: white;
  width: fit-content;
  padding: 1rem 1.8rem;
  font-size: 2.5rem;
  font-weight: 800;
  border-radius: 100px;
  margin: 0 auto 1.5rem auto;
  color: rgb(51, 51, 51);
  box-shadow: 4px 4px 8px rgb(28, 28, 28);
}




.whats-included {
  padding: 0 4rem 4rem 4rem;
  margin-bottom: 3rem;
}

.whats-included .content {
  max-width: 75ch;
  margin: 0 auto;
}

.whats-included h2 {
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 2.25rem;
  box-shadow: inset 0 -12px 0 0 var(--clr-main);
  width: fit-content;
}

.whats-included h3 {
  font-size: 1.75rem;
  margin-top: 3.5rem;
}

.whats-included h3 i {
  margin-left: 1rem;
}

.whats-included p {
  line-height: 1.25rem;
  letter-spacing: 1px;
}

.whats-included ul {
  margin-top: 2rem;
  padding-inline-start: 0;
}

.whats-included ul li {
  margin: 1rem 0;
  letter-spacing:  1px;
  line-height: 1.25rem;
}

.whats-included ul li b {
  color: var(--clr-main);
}

.whats-included .sustainability {
  margin-bottom: 4rem;
}

.whats-included .cta-link, .last-cta-section .cta-link {
  color: rgb(39, 39, 39);
  background: var(--clr-main);
  padding: 0.75rem 1.75rem;
  border-radius: 50px;
  text-decoration: none;
  width: fit-content;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: .35s ease-in-out;
}

.whats-included .cta-link:hover, .last-cta-section .cta-link:hover {
  color: rgb(39, 39, 39);
  background: white;
  padding-left: 3.5rem;
}

.cta-link i {
  margin-left: .5rem;
}





.client-expectations {
  padding: 0 4rem 2.5rem 4rem;
}

.client-expectations .content {
  max-width: 75ch;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.client-expectations h2 {
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 2.25rem;
  box-shadow: inset 0 -12px 0 0 var(--clr-main);
  width: fit-content;
}

.client-expectations span {
  background: white;
  color: rgb(39, 39, 39);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 12px;
  padding: .75rem 2rem;
}

.client-expectations h3 {
  font-size: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.client-expectations p {
  line-height: 1.25rem;
  letter-spacing: 1px;
}




.last-cta-section {
  padding: 0 4rem 0 4rem;
  text-align: center;
}

.last-cta-section .content {
  max-width: 75ch;
  margin: 0 auto;
}

.last-cta-section h2 {
  font-size: 2.5rem;
}

.last-cta-section p {
  margin-bottom: 3rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}

.last-cta-section h3 {
  margin: 0 auto;
  max-width: 40ch;
}




.online-coaching-contact {
  margin-bottom: 3rem;
  padding: 0 4rem 4rem 4rem;
}

.online-coaching-contact .content {
  max-width: 75ch;
  margin: 0 auto;
  text-align: center;
  background: rgb(55, 55, 55);
  padding: 2rem;
  border-radius: 20px;
}

.online-coaching-contact h2 {
  margin: 0 auto 2rem auto;
  font-size: 2rem;
  box-shadow: inset 0 -12px 0 0 var(--clr-main);
  width: fit-content;
}

.online-coaching-contact p {
  letter-spacing: 1px;
}

.online-coaching-contact a {
  color: white;
  font-weight: 600;
}

.online-coaching-page-top {
  background: transparent;
}

.get-started-btn-2 {
  /* width: 100%; */
  cursor: pointer;
  padding: .75rem 1rem;
  background: rgb(92, 92, 92);
  color: white;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .35s ease-in-out;
  text-decoration: none;
  font-size: .9rem;
  display: inline-block;
  transform: scale(1);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.get-started-btn-2:hover {
  background: var(--clr-main);
  color: black;
  transform: scale(1.1rem);
}

.get-started-btn-2 i {
  margin-left: .5rem;
}

.oc-form {
  margin: 5rem auto;
  width: fit-content;
}

.choose-plan-btn .fa-arrow-down {
  margin-left: .75rem;
}

@media (max-width: 835px) {
  .client-expectations h2 {
    font-size: 2rem;
  }

  .last-cta-section h2 {
    font-size: 2rem;
  }

  .information-section {
    margin-bottom: 8rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 760px) {
  .client-expectations h2 {
    box-shadow: none;
  }

  .client-expectations {
    padding: 0 2rem;
  }

  .client-expectations span {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .information-section {
    margin-bottom: 8rem;
    padding-bottom: 2rem;
  }

  .oc-main-h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .home-online-coaching {
    padding-bottom: 0;
  }
}

@media (max-width: 350px) {
  .oc-main-h2 {
    font-size: 2rem;
    box-shadow: inset 0 -10px 0 0 var(--clr-main);
  }
}