.personal-programs-page {
  margin: 5rem auto 3rem auto;
}

.whats-included-programs {
  margin-top: 48rem;
  text-align: left;
}

.last-cta-section-2 {
  text-align: left;
}

.last-cta-section-2 h2 {
  margin-bottom: 1.5rem;
}

.personal-programs-bg {
  margin-top: 15rem;
}

.personal-programs-page .main-h2 {
  margin: 0 auto;
}